@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap");

.app__left {
	display: flex;
	align-items: center;
}
.app__logo {
	width: 50px;
	padding: 0 10px;
}
.app__header {
	padding: 10px;
	background-image: linear-gradient(to right, #051421, #042727);
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #999;
}
.app__left > h3 {
	color: white;
	font-family: "Indie Flower", cursive;
}
.app__form {
	display: flex;
	flex-direction: column;
}
.MuiFormControl-root {
	margin-bottom: 10px !important;
}

body {
	background-image: linear-gradient(to right, #051421, #042727);
}
.appbody__top {
	display: flex;
	justify-content: center;
}
