.app__left{
  display:flex;
  align-items:center;
}
.app__logo{
  width:50px;
  padding:0 10px;
}
.app__header{
  padding:10px;
  background-color:#F7F7F7;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #999;
}
.app__form{
  display: flex;
  flex-direction: column;
}
.MuiFormControl-root{
  margin-bottom: 10px !important;
}

.app{
  background-color: rgb(230, 243, 242);
}